<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Add new produce to the Farmers Market</h3>
  </div>
  <div class="panel-body">
    <div>
      <div>
        <label>Farmer:</label>
        <br>
        <input #newFarmer>
      </div>
      
      <div>
        <label>Produce:</label>
        <br>
        <input #newProduce>
      </div>

      <div>
        <label>Produce Description:</label>
        <br>
        <textarea #newDescription></textarea>
      </div>

      <button (click)="submitForm(newFarmer.value, newProduce.value, newDescription.value);newFarmer.value=''; newProduce.value=''; newDescription.value=''">Add</button>
    </div>
  </div>
</div>
